<% provide(:title, "About") %>

<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">
    <div class="page-heading">
      <h1>About</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">
    <h2>Living zero waste is very difficult.</h2>

    <p class="lead">This website is an attempt to make living zero waste easier for anyone, by sharing knowledge about how do it in Bristol and the surrounding area.</p> <p>Bristol has many establishments that cater to and encourage a zero waste lifestyle, and new solutions come along all the time. We aim to keep up to date with new products and services, but you can email us here(info@zerowastebristol.co.uk) if we are missing any useful information.
    </p>

    <h2>How does this website work?</h2>
    <p>We have a database of various consumables and where you can purchase them zero waste. You can search this database for exactly what you want, and if it is in the database there will be at least one location where it can be bought zero waste.
    </p>

    <h2>What is Zero Waste?</h2>
    <p>To us, living zero waste means producing no waste from what we consume.
    </p>
    <p>We usually use zero waste to talk about how we use consumables, things like food, drink, cleaning products etc. The main aim is to get rid of packaging waste, use 100% of the stuff we buy, and not need to throw anything away. This is often done by reusing a packaging solution indefinitely.
    </p>
    <p>For example, instead of buying 500g of rice that has been pre-packaged in a single use plastic wrapper, you can bring a reusable container/bag and fill it with rice. You then pay for the weight of rice you have taken.
    </p>

    <h2>What is not Zero Waste?</h2>
    <p>There are grey areas and opinions in this field, but if not absolutely necessary, any form of packaging that is not part of the original product is considered Waste.
    </p>
    <p>We do however consider reusable, infinitely recyclable, biodegradable, and compostable waste to be part of the zero waste family. For example, glass packaging is often reusable, and at the end of it's life is infinitely recyclable. Much paper and card packaging is compostable so will degrade and be reused by the soil at the end of it's life. Plastic is NOT seen to be zero waste as it takes a very long time to degrade naturally, and can only be recycled into poorer quality material.
    </p>

    <h2>Why choose to go Zero Waste?</h2>
    <p>It is often cheaper. Not packaging items can result in significant savings for producers, and that cost saving is passed onto customers.
    </p>
    <p>Waste causes carbon emissions. Energy must go into manufacture of packaging, often for the packaging to have a very short life. The waste material then needs to be trucked away from the home to landfill, or to be reprocessed, which requires more energy.
    </p>
    <p>Packaging causes environmental damage. The requirement for paper packaging demands 3.5 - 7 billion <a href="https://www.ran.org/how_many_trees_are_cut_down_every_year">(Rainforest Action Network, March 2017)</a> trees to be cut down every year. It has been estimated that plastic pollution kills over 400,000 <a href="https://books.google.com/books?id=nC7WQqqBwboC&pg=PA518#v=onepage&q&f=false">(Daniel D. Chiras, 2004 Environmental Science: Creating a Sustainable Future)</a> marine mammals annually.
    </p>
    <p>Health and safety concerns. Plastics have potentially harmful effects that could prove to be carcinogenic, harmful to human skin, or cause disruptions in fertility, reproduction, or sexual maturation (North, Emily J.; Halden, Rolf U, 1 January 2013 Plastics and environmental health: the road ahead).
    </p>
  </div>
</div>

<br>

<div class = "text-center">
  <%= link_to 'Back', products_path, class: "btn btn-light" %>
</div>
