<footer class="footer">
  <small>
    The Zero Waste Index concept by Adam Gilbert, built
    by <a href="https://adecruse.github.io">Alan Cruse</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
